.work-card {
    border: 2px solid #fff;
    border-right: none;
    border-left: none;
    max-width: 970px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    align-items: center;
    text-align: left;
}

.company-name-div {
    min-width: 50%;
}

.work-card .gravitas {
    font-size: 48px;
    /* margin-bottom: 0; */
}
@media only screen and (max-width: 900px) {
    .work-card .gravitas {
        font-size: 24px;
    }
}